
*{
	box-sizing: border-box;
	

}

body{
    background-color: #feb236;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	
	
	
}
.container{
	display: flex;
width: 550px;
height: 420px;
background-color: #6b5b95;
color:  #feb236;
margin: auto;
margin-top: 90px;
padding: 20px;
border-radius: 40px;
flex-direction: column;
outline:6px solid #d64161;


}

#question{

	text-align: center;
	font-size: 25px;


}

ul li{

	cursor: pointer;
	padding: 15px;
	list-style: none;
	font-size: 20px;
	
}

ul li label{
	cursor: pointer;

}

#opt{
	font-size: 20px;
}


#submit{
    margin-left: 25%;
	padding: 10px;
	width: 50%;
	border-radius: 30px;
	background-color: #feb236;
	font-size: 15px;
	color:#6b5b95;
	font-size: 1.3rem;
   
}

#reload{
	margin-left: 25%;
	padding: 10px;
	width: 50%;
	border-radius: 30px;
	background-color: #feb236;
	font-size: 15px;
	color:#6b5b95;
	font-size: 1.3rem;
	margin-top: 100px;
}

#submit:focus {
	background-color: #d64161;
	color: #feb236;
	border: 3px solid #feb236;
}

#reload:focus {
	background-color: #d64161;
	color: #feb236;
	border: 3px solid #feb236;
}

	

#head{

	font-size: 5rem;
	text-align: center;
	padding-top: 40px;
	color: #d64161;
	
	
	
}


#startbtn{
	width: 15%;
	height: 80px;
	background-color:#d64161;
	color:#feb236 ;
	border-radius: 40px;
	border: 5px solid  #6b5b95;
	text-align: center;
	font-size: 2rem;
	margin-left: 42%;
	margin-top: 200px;
}

.startbtn2{
	display: none;
}

.startit{
display: none;
	
}

